<!-- Index.razor -->
@page "/"

<h3>Welcome to Blazor Twitter Clone</h3>

<div class="container">
    <div class="column">
        <UserList />
    </div>
    <div class="column">
        <PostList />
    </div>
</div>
